@font-face {
  font-family: 'CogniCue';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.cognicue.in/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: 'CogniCue';
  font-style: normal;
  font-weight: 700;
  font-stretch: condensed;
  src: url(https://fonts.cognicue.in/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'CogniCue';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.cognicue.in/Roboto/Roboto-Medium.ttf);
}
